/*   ------------------      MAIN    ------------------ */

main {
	padding: 24px;
}

/*   ------------------      NAVBAR    ------------------ */


#avatar {
	width: 32px;
	height: 32px;
}

/*   ------------------    BROWSE    ------------------ */





/*   ------------------    REGISTER  ------------------ */

#registration-modal .ods-modal--dialog {
	width: 500px;
}